/**
 * @file
 * SMACSS States
 *
 * Adds state-based styling. Global state rules are those that apply only during
 * certain states of the page and have a JavaScript dependency. For more
 * information, see https://smacss.com/book/type-state
 */

/* =============================================================================
   Drupal form widgets
   ========================================================================== */

/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */

#autocomplete .selected { /* Suggestion list */
  background: #0072b9;
  color: #fff;
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */

.fieldset-legend {
  html.js .collapsible & {
    background-image: inline-image("menu-expanded.png");
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      *background-image: url(../images/menu-expanded.png);
    }
    background-position: 5px 65%; /* LTR */
    background-repeat: no-repeat;
    padding-left: 15px; /* LTR */
  }
  html.js .collapsed & {
    background-image: inline-image("menu-collapsed.png"); /* LTR */
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      *background-image: url(../images/menu-collapsed.png); /* LTR */
    }
    background-position: 5px 50%; /* LTR */
  }

  .summary {
    color: #999;
    font-size: 0.9em;
    margin-left: 0.5em;
  }
}

/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */

tr.drag {
  background-color: #fffff0;
}

tr.drag-previous {
  background-color: #ffd;
}

.tabledrag-toggle-weight {
  font-size: 0.9em;
}

/**
 * TableSelect behavior.
 *
 * @see tableselect.js
 */

tr.selected td {
  background: #ffc;
}

/**
 * Progress bar.
 *
 * @see progress.js
 */

.progress {
  font-weight: bold;

  .bar {
    background: #ccc;
    border-color: #666;
    margin: 0 0.2em;
    @include border-radius(3px);
  }

  .filled {
    background-color: #0072b9;
    background-image: inline-image("progress.gif");
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      *background-image: url(../images/progress.gif);
    }
  }
}

//custom css for WICHE states pages

.field-name-field-introduction{
	position:relative;
	blockquote strong{
		color:#225aa8;
		font-size:1.4em;
	}
	
	.sep-roi{
		position:absolute;
		right:0;
		top:165px;
		width:60%;
		font-size:1.2em;
		p{
			position:relative;
			top:-3px;
		}
		span{
			float:left;
			margin-right:12px;
			font-size:2.5em;
			font-weight:700;
			font-weight:bold;
			display:inline-block;
		}
	}
}

.field-name-field-state-tagline,
.field-name-field-introduction,
.field-name-field-state-intro,
.field-name-field-state-investment,
.field-name-field-state-student-programs,
.field-name-field-state-former-commissioner{
	border-top-color:#ccc;
	border-top-style:dotted;
	margin-top:20px;
}


.view-legislative-advisory-committee-block-view{ 
	.views-field-field-lac-photo{
		img{
			max-width:86px;
			max-height:127px;
			}
	}
	
		span.views-field-field-lac-title,
		span.views-field-field-lac-fname,
		span.views-field-field-lac-lname{
			display:inline-block;
			padding:0;
			margin:0;
			font-size:.8em;
			font-weight:700;
		}
}

.field-name-field-state-former-commissioner .field-items {
	
	p.student-testimonial-pic{
		background-color:transparent;
		float:left;
		width:18%;
		
		img{
			max-width:97px;
			max-height:auto;
			box-shadow: 5px 5px 15px #222;
		}
	}
	
	p.student-testimonial{
		float:left;
		width:79%;
		background-color:rgba(175,169,157,.25);
		margin-top:12px;
		padding:8px 6px;
		font-size:.85em;

		span{
			text-align:right;
			margin:6px 0 0 0;
			display:block;
		}
	}
	

	
}//end field-items
	ul.states{
		list-style:none;
		margin:0;
		padding:0;
					
			li {
			background:url(images/red-arrow.png) 0 5px no-repeat;
			padding-left:14px;
			font-weight:600;
			font-size:.9em;
			color:#000;
			margin:0 0 12px 0;
				
				span.normal{
					font-weight:200;
				}//end span
	
			table.state-colleges{
				font-weight:normal;
				margin-top:0;
				width:45%;
				border:none;
					tr{
						td{
							padding:2px 0px 2px;
							vertical-align:bottom;
							border-bottom:1px solid #ccc;
						}//end td
					}//end tr
				}//end table
			}//end li
		}//end ul

table.states-sep-data{
	width:57%;
	float:left;
	display:inline-block;
	border:1px solid #ccc;
		tr{
			border-bottom:1px solid #999;
			
			td{
				text-align:center;
			}
		}
	th{
		border:none;
	}
	th[scope="row"]{
		border:none;
		padding-left:6px;
	}
}

.field-name-field-state-student-programs .psep-savings{
		float:left;
		display:inline-block;
		margin:16px 0 0 12px;
		width:38%;
		font-size:1.2em;
			p{
				position:relative;
				top:-6px;
				font-size:1em;
			}
			span{
				float:left;
				margin-right:12px;
				font-size:2.2em;
				font-weight:700;
				font-weight:bold;
				display:inline-block;
			}
		}
	 

.field-name-field-printable-pdf-state-factsh{
	clear:left;
	text-align:right;
}
		
