/*====================================
		MUCHO MENU STYLING
======================================*/


.muchomenu-menu .muchomenu-parent {
    position: static!important;
}

	#navigation{
	    .region-navigation{
		  position:relative;
		  max-width:1186px!important;
		
	   .muchomenu-menu .muchomenu-bin, muchomenu-1 {
			left: 0!important;
			overflow: hidden;
			position: absolute;
			top: -9000px;
			z-index: 10000;
		}
		
		.menu{
			li{
				float:none;
			}
		}
		
	ul#muchomenu-1{
		margin:0 0 0 0;
		
		li.muchomenu-parent{
			/*border-right:1px solid transparent;
			 border-left:1px solid transparent;*/ 
			 border:none; 
			 margin:0 16px 0 0;
			 line-height:1.3em;
			
			span.muchomenu-parent-title, .views-field-field-pub-year, .lac-megamenu-meeting{
			  
				a, a:visited, a:active {
      				background:none;
      				border:none!important;
      				color: #fff;
      				display: inline-block;
      				font-style: normal;
      				padding: 4px 8px 6px;
					text-decoration:none;
					text-transform:uppercase!important;
					font-weight:normal!important;
					font-size:.9em;
					outline:none!important;
					letter-spacing:1px;
					
					&:hover{
						color:#fff;
						border:none!important;
						}
						
					&:focus{
						border:none!important;
						/*border:1px solid #ccc;*/
						/*padding:2px;*/
					}
				
			   }//end a
			   
		  }//end span
		  
				  /*newscap ul styling*/
				  
				  .panel-pane{
					  ul.newscap{

						  li{
							  background:url(images/white-arrow-bullet.png) 0 5px no-repeat!important;
							  color:#fff;
							  font-size:85%;
							  margin:6px 0;
							  display:block;
							  padding-left:20px;
						  }
					  }
				  }//end pane-panel
		  
		  .view-calendar-2{
			  ul{
				 li{
					h3.field-content{
						font-weight:100;
						letter-spacing:1px;
					}
					margin:12px 0 0 0;
					padding:0 0 12px 0;
					border-bottom:1px solid #fff;
					
					h2.field-content{
						font-weight:normal;
						font-size:1.2em!important;
						line-height:1.2em;
						margin:0;
					}
					
					.field-content{
						color:#fff;
						font-size:.9em;
						line-height:1.1em;
						
						a{
							margin:0;
							display:inline-block;
						}
					}
					.views-field-field-wiche-initiatives{
						em{
							padding:0;
							margin:0 0 8px;
							font-size:.9em;
							display:block;
						}
					}
					.views-field-field-location{
						padding:8px 0 8px;
					}
				 }//end li
				 
				 li:last-child{
					 border-bottom:none;
				 }
			  }// end ul
		  }// end view calendar 2
		  
		  
		  .pane-taxonomy-resources{
			  h1{
				  color:#fff;
				  font-size:1.1em;
				  line-height:1.3em;
				  font-weight:normal!important;
			  }
		  }
		  
		overflow:hidden;
		   div.muchomenu-bin{
			   background-color:#245eac;
			   width:100%;
			   height:auto;
			   /*min-height:260px;*/
			   top:2em!important;
			   border-bottom:2px solid #ccc;
			   
			   .mm-columns{
				  
				 #webform-client-form-11518{
					   .form-item input{
					   		max-width:45%;
					   }
					   label, .form-required{
						   color:#ffffff!important;
					   }
					   legend span{
						   color:#ffffff;
					   }
					   
					   .fieldset-description{
						   color:#ffffff;
						   max-width:45%;
					   }
					   
					   .mollom-image-captcha-instructions{
						   color:#ffffff!important;
						   
						   a:link, a:visited, a:active{
							   color:#fff;
							   text-decoration:underline;
							   
							   &:hover{
								   font-weight:bold;
							   }
						   }
					   }
				   }
				   
				   #webform-client-form-12735{
					   .form-item{
					   		max-width:100%;
					   }
					   label, .form-required{
						   color:#ffffff!important;
					   }
					   legend span{
						   color:#ffffff;
					   }
					   
					   .fieldset-description{
						   color:#ffffff;
						   max-width:45%;
					   }
					   
					   .mollom-image-captcha-instructions{
						   color:#ffffff!important;
						   
						   a:link, a:visited, a:active{
							   color:#fff;
							   text-decoration:underline;
							   
							   &:hover{
								   font-weight:bold;
							   }
						   }
					   }
				   }  
	
			   }
		   }
		
		
		}// end li
		
		//background hover effect for li in top level
		 li.hovering{
			  background-color:#245eac;
			  border-top:none;
			  /*border-right:1px solid #13315a;
			  border-left:1px solid #13315a;*/
			 }
		
	    }//en ul#muchomenu-1   (the first drop down)
		
		//2nd dropdown starts here
		ul.muchomenu-bin-2{
			left:0!important;
			
			
		}
		
//mega menu canvas and columns
 .mm-canvas{
	overflow:hidden;
		.mm-columns{
			width:24%!important;
			border-right:1px solid #ffffff;
			padding-right:4px;
			padding-left:4px;
			margin-bottom: -999em!important;
			padding-bottom: 999em!important;
			
				 hr{
						border-top:1px solid #ffffff;
						margin:12px 0;
						padding:0;
					  }
					  
					  p{
						  color:#fff;
						  font-size:.8em;
						  line-height:1.4em;
						  
						  a{
							  color:#fff;
						  }
					  }
			
			fieldset#webform-component-subscribe{
				border:none;
				color:#fff;
				font-size:1em;
				
				legend span.fieldset-legend{
					margin-top:8px;
					font-weight:bold;
					display:block;
				}
				
					.form-type-checkbox{
						input{
							width:10%;
						}
					}
					input{
						width:100%;
						}
					
			}
			
				ul, ul.menu{
					margin-left:0;
					padding:0;
					list-style:none;
					li{
						.field-content{
							a:link, a:visited, a:active{
								color:#fff;
								font-size:.8em;
								text-decoration:none;
								display:block;
								margin:12px 0;
							}
							a:hover{
								text-decoration:underline;
							}
							
							&:focus{
								border:1px solid #ccc;
								padding:2px;
							}
						}
					}
				} // end ul, ul.menu
				
				.more-link{
					a:link, a:visited, a:active{
						text-decoration:none;
						color:#fff;
					}
					
					a:hover{
						text-decoration:underline;
					}
					
					&:focus{
						border:1px solid #ccc;
						padding:2px;
					}
					
				}//end more-link
				
				.mm-gen-info{
					list-style:none;
					color:#fff;
					font-size:.8em;
					}
				
			} //end .mm-columns
		
		.mm-columns:last-child{
				border-right:none;
				padding-right:0;
			}
			
	}// end mega menu canvas and columns
	
	 .region-state{
			  border-right:1px solid #fff;
			  overflow:hidden;
		  }
		
	   }// end .region-navigation
	}// end nav


/*==============================
		END MUCHO MENU STYLING
=================================*/

/*custom rules for mini-panel in mucho-menu nav
=======================================================
*/
 

.mini-mega-menu, .pane-menu-menu-states-1, .pane-menu-menu-states-2, .panel-flexible{
   padding:1% 2% 1%;
   margin-bottom:1em;
   border:0;
   overflow:hidden;
   
   #wiche-map p{
   		margin:0;
		padding:0;
		
		img.wiche-map{
			margin-left:25px;
		}
   }
   
	   h2{
		   font-family:"Open Sans", sans-serif;
		  color:#fff;
		  margin:0 0 6px;
		  padding:0;
		  font-size:1.1em;
		  line-height:1.3em;
		  font-weight:700!important;
		  border-bottom:none;
		  
			  a{
					color:#fff;
					text-decoration:none;
					
					&:hover{
					text-decoration:underline;
					}
					
					&:focus{
						border:1px solid #ccc;
						padding:2px;
					}
		  		}
			}
			
		h3{
			color:#fff;
			font-size:1em;
			margin: 0 0 6px;
			letter-spacing:1px;
			/*font-weight:200;*/
			
			a{
					color:#fff!important;
					text-decoration:none;
					
					&:hover{
					text-decoration:underline;
					}
					
					&:focus{
						border:1px solid #ccc;
						padding:2px;
					}
		  		}
		}
		
		.views-field-field-media-release-headline{
			h3{
				font-family: 'humnst777_cn_btregular';
				color:#fff;
				font-size:.9em;
				margin: 0 0 6px;
				letter-spacing:1px;
				font-weight:100;
				line-height:1.3em;
			}
		}
	  
	  p{
	  	color:#13315a;
		line-height:1em;
		font-size:.9em;
	  }
	  
	 
   
   
 
   
   ul.menu{
   		list-style:none;
		
		
			//Initiatives Menu
			li{
			  margin:6px 0;
			  clear:left;
			  padding:0 16px 0;
			  margin:16px 0 0;
				  a{
					 color:#e1e1e1;
					 text-decoration:underline;
					 display:block;
					 line-height:1.1em;
					 font-size:.9em;
					 margin:0;
					 
					 &:hover{
						  color:#fff;
					  text-decoration:underline;
					 }
					 
					 &:focus{
						border:1px solid #ccc;
						padding:2px;
					}
					 
				  }
		  }
		  
		  // States Menu li's
		  li.menu--leaf{
		  margin:0 0 6px 0;
		  clear:left;
			  a{
				 color:#13315a;
				 text-decoration:none;
				 display:block;
				 padding:0 0 4px 0;
				 line-height:.9em;
				 font-size:.9em;
				 margin:0 0 4px 0;
				 text-transform:uppercase;
				 
				 &:hover{
				 color:#1C4884;
				 }
				 
				 &:focus{
						border:1px solid #ccc;
						padding:2px;
					}
		  	}
		}
   }
}

/*kill vertical border on last menu column*/
 .col-four{
		 ul.menu{
			 border:none;
		 }
	}
	
	
/*separate news room mega menu items with thin bottom border*/
	.view-wiche-in-the-news-mega-menu, .media-releases, .higher-education-news, .wiche-newscap{
		.item-list{
			ul{
				li{
					.field-content{
							a{
								padding-bottom:12px;
								border-bottom:thin solid #fff;
							}
						}
					}
					
					li:last-child{
							.field-content{
								a{
									border-bottom:none!important;
								}
							}
						}
					}
			}
	}//end view-wiche-in-the-news-mega-menu
	
	
/*CSS styling for calendar block in mega-menu*/
.pane-events{
	
	ul{
		li{
			h1{
				font-family: 'humnst777_cn_btbold',sans-serif;
				font-size:1.1em;
				font-weight:normal;
				margin:0;
				padding:0;
				
				a{
					margin:0;
					padding:0;
				}
			}
		}
	}
}


.wiche-bylaws{
		border-top:1px solid #fff;
		padding-top:8px;
	}
	
.workplan-annual-report{
		border-top:1px solid #fff;
		padding-top:8px;
	}
	
.hr-openings{
		padding-top:8px;
	}

/*end custom rules for mini-panel mega-menu nav
========================================================
*/

@media screen and (-webkit-min-device-pixel-ratio:0){ 
 #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin{
	 top:1.8em!important;
 }
 	ul#muchomenu-1{
		li.muchomenu-parent{
				span.muchomenu-parent-title{
					padding: 4px 8px 8px!important;
				}
			}
		}
}  

//WICHE region map on Region's panel

.map-wrapper{
	background:url(images/wiche-region-map.png) 0 0 no-repeat;
	width:407px;
	height:207px;
	position:relative;
	
		a:link, a:active, a:visited{
				font-size:.6em;
				font-weight:bold;
				text-decoration:none;

				&:hover{
						text-decoration:underline;
					}
					
					&:focus{
						border:1px solid #ccc;
						padding:2px;
					}
				}
				//Alaska
			a.s1 {
				left: 7.3%;
				top: 25.5%;
				width: 4%;
				height: 6%;
				position: absolute;
				color: #fff;
			}
			//cnmi
			a.s2 {
				line-height:1em;
				left: 9%;
				top: 48%;
				width: 8%;
				height: 4%;
				position: absolute;
				color: #fff;
			}
			//hawai'i
			a.s3 {
				left: 17%;
				top: 70%;
				width: 4%;
				height: 6%;
				position: absolute;
				color: #fff;
			}
			//Washington
			a.s4 {
				left: 31%;
				top: 6%;
				width: 4.5%;
				height: 6%;
				position: absolute;
				color: #1c4884;
			}
			//Oregon
			a.s5 {
				left: 29.5%;
				top: 19%;
				width: 4%;
				height: 6%;
				position: absolute;
				color: #1c4884;
			}
			//California
			a.s6 {
				left: 28.5%;
				top: 46.5%;
				width: 4%;
				height: 6%;
				position: absolute;
				color: #1c4884;
			}
			//Idaho
			a.s7 {
				left: 37.7%;
				top: 22.7%;
				width: 4%;
				height: 6%;
				position: absolute;
				color: #1c4884;
			}
			//Nevada
			a.s8 {
				left: 33.2%;
				top: 38%;
				width: 4%;
				height: 6%;
				position: absolute;
				color: #1c4884;
			}
			//Montana
			a.s9 {
				left: 43.2%;
				top: 12.6%;
				width: 4%;
				height: 6%;
				position: absolute;
				color: #1c4884;
			}
			//Wyoming
			a.s10 {
				left: 46.2%;
				top: 28%;
				width: 4%;
				height: 6%;
				position: absolute;
				color: #1c4884;
			}
			//Utah
			a.s11 {
				left: 40%;
				top: 42.6%;
				width: 4%;
				height: 6%;
				position: absolute;
				color: #1c4884;
			}
			//Arizona
			a.s12 {
				left: 38.5%;
				top: 60%;
				width: 4%;
				height: 6%;
				position: absolute;
				color: #1c4884;
			}
			//North Dakota
			a.s13 {
				left: 56.5%;
				top: 11%;
				width: 4%;
				height: 6%;
				position: absolute;
				color: #1c4884;
			}
			//South Dakota
			a.s14 {
				left: 56.5%;
				top: 23%;
				width: 4%;
				height: 6%;
				position: absolute;
				color: #1c4884;
			}
			//Colorado
			a.s15 {
				left: 47.9%;
				top: 44.5%;
				width: 4%;
				height: 6%;
				position: absolute;
				color: #1c4884;
			}
			//New Mexico
			a.s16 {
				left: 46.3%;
				top: 61%;
				width: 4%;
				height: 6%;
				position: absolute;
				color: #1c4884;
			}
	
	
	
	
}// end wrapper