/*
  This is the default layout template for nice menus, and will provide
  a starting point for the look of your menus. To customize, it's
  recommended to create a custom CSS file using this file as a template,
  then configure the module to use your custom CSS file
  (this is done in the global settings tab of the theme administration.)

  See README.txt and the handbook page (http://drupal.org/node/185543)
  for more information on using the CSS.
*/

/******************************
 Global CSS for ALL menu types
******************************/

ul.nice-menu,
ul.nice-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
}

ul.nice-menu li {
  border-bottom: 1px solid #ccc;
  /*float: left;*/ /* LTR */
}

ul.nice-menu li:last-child {
	border-bottom:none;
}

ul.nice-menu a {
  padding: 0.3em 20px 0.3em 15px;
}

ul.nice-menu a:focus{
	/*border:1px solid #ccc;
	padding:2px;*/
}

ul.nice-menu ul {
  top: 1.8em;
  left: -1px; /* LTR */
  border: 0;
  border-top: 1px solid #ccc;
  margin-right: 0; /* LTR */
}

ul.nice-menu ul li {
  width: 12.5em;
  padding:0 12px!important;
}

.block-nice-menus {
    line-height: normal;
    z-index: 20;
}

/******************************
 VERTICAL (left/right) menus
******************************/

/* This is the default width of all vertical menus. */
ul.nice-menu-right,
ul.nice-menu-left,
ul.nice-menu-right li,
ul.nice-menu-left li {
  width: 100%;
}

/* VERTICAL menus where submenus pop RIGHT (default). */


.region-sidebar-first ul.nice-menu-right{
	border:none;
}

/*Quicklinks Menu*/
#main .sidebars .region-sidebar-first  ul.nice-menu-right ul,
#main-front .sidebars .region-sidebar-first  ul.nice-menu-right ul
{
  left: 12.7em;
  top: -2px;
  border:none;
}

#main .sidebars .region-sidebar-first ul.nice-menu-right li,
#main-front .sidebars .region-sidebar-first ul.nice-menu-right li
{
  background-color:rgb(34,90,168);
  /*border-top:2px solid #fff;*/
}


#main .sidebars .region-sidebar-first ul.nice-menu-right li:hover,
#main-front .sidebars .region-sidebar-first ul.nice-menu-right li:hover
{
	background-color:rgba(34,90,168,0.75);
}

#main .sidebars .region-sidebar-first ul.nice-menu-right li a,
#main-front .sidebars .region-sidebar-first ul.nice-menu-right li a
{
 	color:#fff;
 	font-size:.8em;
	text-decoration:none;
}

/*SEP Menu*/
/*#main-front .region-sidebar-first ul#nice-menu-4 li,
#main .region-sidebar-first ul#nice-menu-4 li{
	  background:#fff;
	  border:2px solid #1c4884;
	  border-radius: 8px;
	  padding:16px;
	  margin-bottom:8px;
	  text-align: center;
}*/



#main-front .region-sidebar-first ul#nice-menu-4 li a,
#main .region-sidebar-first ul#nice-menu-4 li a{
 	/*color:#1c4884;
 	font-size:.8em;*/
	text-decoration:none;
}



#main-front .region-sidebar-first ul#nice-menu-4 li a:hover,
#main .region-sidebar-first ul#nice-menu-4 li a:hover{
	/*text-decoration:underline;*/
}

/*end SEP menu*/

.region-sidebar-first ul.nice-menu-right li ul{
	 border:2px solid #000!important;
}

.region-sidebar-first ul.nice-menu-right li ul li{
	background:#158386;
}

.region-sidebar-first ul.nice-menu-right li ul li:hover{
	background:#15797c;
}

.region-sidebar-first ul.nice-menu-right li ul li a:link,
.region-sidebar-first ul.nice-menu-right li ul li a:active{
	
}


.region-sidebar-first ul.nice-menu-right ul li ul {
  border:2px solid #000!important;
  left:14em!important;
}

.region-sidebar-first ul.nice-menu-right ul li ul li{
	background:#1d7f49;
}

.region-sidebar-first ul.nice-menu-right ul ul li:hover{
	background:#1a7543;
}


/* VERTICAL menus where submenus pop LEFT. */
ul.nice-menu-left li ul {
  background:#fff;
  width: 14.2em;
  left: -14.3em;
  top: -1px;
  border:1px solid #ccc;
}

ul.nice-menu-left li ul li ul {
  width: 14em;
  left: -14em;
  top: -1px;
  border-right:1px solid #ccc;
}

ul.nice-menu-left li.menuparent,
ul.nice-menu-left li li.menuparent {
  background: #fff url("images/arrow-left.png") left center no-repeat;
}

ul.nice-menu-left li.menuparent:hover,
ul.nice-menu-left li li.menuparent:hover {
  background: #fff url("images/arrow-left.png") left center no-repeat;
}

ul.nice-menu-left a,
ul.nice-menu-left ul li.active-trail a {
  
}

ul.nice-menu-left a:hover,
ul.nice-menu-left ul a:hover,
ul.nice-menu-left ul a:focus {
 /* padding-left: 16px;*/
  text-decoration:underline;
  color:#1c4884;
}

/******************************
 HORIZONTAL (down) menus
******************************/

ul.nice-menu-down {
  /*float: left;*/ /* LTR */
  border: 0;
  font-size:.8em;
}

ul.nice-menu-down li {
 /* border-top: 1px solid #ccc;*/
}

ul.nice-menu-down li li {
  border-top: 0;
}

ul.nice-menu-down ul {
  position:relative;
  clear:both;
  top:0;
}

ul.nice-menu-down ul li {
  clear:both;
}

ul.nice-menu-down li ul li ul {
  left: 25px; /* LTR */
  /*top: -1px;*/
  position:relative;
}

ul.nice-menu-down .menuparent a {
  padding-right: 15px; /* LTR */
}

ul.nice-menu-down li.menuparent {
  background: #fff url("../images/arrow-down.png") right center no-repeat; /* LTR */
}

ul.nice-menu-down li.menuparent:hover {
  background: #fff url("../images/arrow-down.png") right center no-repeat; /* LTR */
}

ul.nice-menu-down li li.menuparent {
  background: #eee url("../images/arrow-right.png") right center no-repeat; /* LTR */
}

ul.nice-menu-down li li.menuparent:hover {
  background: #ccc url("../images/arrow-right.png") right center no-repeat; /* LTR */
}

/******************************
 Garland-specific CSS
******************************/

/**
 * Global CSS for ALL menu types
 */
ul.nice-menu li {
  margin: 0;
  padding: 0!important; /* LTR */
  background-image: none;
}

#header-region ul.nice-menu li {
  margin: 0;
  /* Padding rules are needed to deal with Garland's header line-height. */
  padding-top: 0;
  padding-bottom: 0;
  background: #fff;
}

#header-region ul.nice-menu ul {
  top: 1.8em;
  left: -1px; /* LTR */
  border: 0;
  border-top: 1px solid #ccc;
  margin-right: 0; /* LTR */
}

#header-region ul.nice-menu ul {
  top: 1.7em;
}

/**
 * HORIZONTAL (down) menus
 */
/*#header-region ul.nice-menu-down li ul li ul {
  left: 12.5em; /* LTR */
 /* top: -1px;
}*/

/*#header-region ul.nice-menu-down li.menuparent {
  background: #fff url("../images/arrow-down.png") right center no-repeat; /* LTR */
/*}*/

/*#header-region ul.nice-menu-down li.menuparent:hover {
  background: #fff url("../images/arrow-down.png") right center no-repeat; /* LTR */
/*}*/

/*#header-region ul.nice-menu-down li li.menuparent {
  background: #fff url("../images/arrow-right.png") right center no-repeat; /* LTR */
/*}*/

/*#header-region ul.nice-menu-down li li.menuparent:hover {
  background: #fff url("../images/arrow-right.png") right center no-repeat; /* LTR */
/*}*/


/******************************
 nice-menu-menu-benchmarks2019
******************************/

ul.nice-menu-menu-benchmarks2019,
ul.nice-menu-menu-benchmarks2019 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #ccc;
  position:absolute;
  z-index:1;
}

ul.nice-menu-menu-benchmarks2019 li {
  border: 1px solid #ccc;
  border-top: 0;
  float: left; /* LTR */
  background-color: #fff;
  padding:8px!important;
}

ul.nice-menu-menu-benchmarks2019 a {
  padding: 0.3em 5px 0.3em 5px;
}

ul.nice-menu-menu-benchmarks2019 ul {
  top: 1.8em;
  left: -1px; /* LTR */
  border: 0;
  border-top: 1px solid #ccc;
  margin-right: 0; /* LTR */
}

ul.nice-menu-menu-benchmarks2019 ul li {
  width: 12.5em;
}


ul.nice-menu-menu-benchmarks2019 {
  float: left; /* LTR */
  border: 0;
}

ul.nice-menu-menu-benchmarks2019 li {
  border-top: 1px solid #ccc;
}

ul.nice-menu-menu-benchmarks2019 li li {
  border-top: 0;
}

ul.nice-menu-menu-benchmarks2019 ul {
  left: 0; /* LTR */
}

ul.nice-menu-menu-benchmarks2019 ul li {
  clear: both;
}

ul.nice-menu-menu-benchmarks2019 li ul li ul {
  left: 12.5em; /* LTR */
  top: -1px;
}

ul.nice-menu-menu-benchmarks2019 .menuparent a {
  padding-right: 15px; /* LTR */
}

ul.nice-menu-menu-benchmarks2019 li.menuparent {
  background: #eee url("../images/arrow-down.png") right center no-repeat; /* LTR */
}

ul.nice-menu-menu-benchmarks2019 li.menuparent:hover {
  background: #ccc url("../images/arrow-down.png") right center no-repeat; /* LTR */
}

ul.nice-menu-menu-benchmarks2019 li li.menuparent {
  background: #eee url("../images/arrow-right.png") right center no-repeat; /* LTR */
}

ul.nice-menu-menu-benchmarks2019 li li.menuparent:hover {
  background: #ccc url("../images/arrow-right.png") right center no-repeat; /* LTR */
}

/*benchmarks template css (not menu)*/

.benchmarks2019 #content{
	margin-top:30px;
}
