/*
Syntax error: Undefined mixin 'adjust-font-size-to'.
        on line 316 of sass/_normalize.scss, in `adjust-font-size-to'
        from line 316 of sass/_normalize.scss
        from line 13 of sass/styles.scss

Backtrace:
sass/_normalize.scss:316:in `adjust-font-size-to'
sass/_normalize.scss:316
sass/styles.scss:13
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `map'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:283:in `block in watch'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/vendor/listen/lib/listen/adapters/polling.rb:56:in `poll'
C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.2.19/vendor/listen/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'adjust-font-size-to'.\A         on line 316 of sass/_normalize.scss, in `adjust-font-size-to'\A         from line 316 of sass/_normalize.scss\A         from line 13 of sass/styles.scss"; }
