/*====================================
		MUCHO MENU STYLING
======================================*/
/* line 6, ../sass/zen-mucho.scss */
.muchomenu-menu .muchomenu-parent {
  position: static !important;
}

/* line 11, ../sass/zen-mucho.scss */
#navigation .region-navigation {
  position: relative;
  max-width: 1186px !important;
}
/* line 15, ../sass/zen-mucho.scss */
#navigation .region-navigation .muchomenu-menu .muchomenu-bin, #navigation .region-navigation muchomenu-1 {
  left: 0 !important;
  overflow: hidden;
  position: absolute;
  top: -9000px;
  z-index: 10000;
}
/* line 24, ../sass/zen-mucho.scss */
#navigation .region-navigation .menu li {
  float: none;
}
/* line 29, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 {
  margin: 0 0 0 0;
}
/* line 32, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent {
  /*border-right:1px solid transparent;
   border-left:1px solid transparent;*/
  border: none;
  margin: 0 16px 0 0;
  line-height: 1.3em;
  /*newscap ul styling*/
  overflow: hidden;
}
/* line 41, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent span.muchomenu-parent-title a, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent span.muchomenu-parent-title a:visited, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent span.muchomenu-parent-title a:active, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .views-field-field-pub-year a, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .views-field-field-pub-year a:visited, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .views-field-field-pub-year a:active, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .lac-megamenu-meeting a, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .lac-megamenu-meeting a:visited, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .lac-megamenu-meeting a:active {
  background: none;
  border: none !important;
  color: #fff;
  display: inline-block;
  font-style: normal;
  padding: 4px 8px 6px;
  text-decoration: none;
  text-transform: uppercase !important;
  font-weight: normal !important;
  font-size: .9em;
  outline: none !important;
  letter-spacing: 1px;
}
/* line 55, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent span.muchomenu-parent-title a:hover, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent span.muchomenu-parent-title a:visited:hover, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent span.muchomenu-parent-title a:active:hover, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .views-field-field-pub-year a:hover, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .views-field-field-pub-year a:visited:hover, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .views-field-field-pub-year a:active:hover, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .lac-megamenu-meeting a:hover, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .lac-megamenu-meeting a:visited:hover, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .lac-megamenu-meeting a:active:hover {
  color: #fff;
  border: none !important;
}
/* line 60, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent span.muchomenu-parent-title a:focus, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent span.muchomenu-parent-title a:visited:focus, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent span.muchomenu-parent-title a:active:focus, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .views-field-field-pub-year a:focus, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .views-field-field-pub-year a:visited:focus, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .views-field-field-pub-year a:active:focus, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .lac-megamenu-meeting a:focus, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .lac-megamenu-meeting a:visited:focus, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .lac-megamenu-meeting a:active:focus {
  border: none !important;
  /*border:1px solid #ccc;*/
  /*padding:2px;*/
}
/* line 75, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .panel-pane ul.newscap li {
  background: url(images/white-arrow-bullet.png) 0 5px no-repeat !important;
  color: #fff;
  font-size: 85%;
  margin: 6px 0;
  display: block;
  padding-left: 20px;
}
/* line 88, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .view-calendar-2 ul li {
  margin: 12px 0 0 0;
  padding: 0 0 12px 0;
  border-bottom: 1px solid #fff;
}
/* line 89, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .view-calendar-2 ul li h3.field-content {
  font-weight: 100;
  letter-spacing: 1px;
}
/* line 97, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .view-calendar-2 ul li h2.field-content {
  font-weight: normal;
  font-size: 1.2em !important;
  line-height: 1.2em;
  margin: 0;
}
/* line 104, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .view-calendar-2 ul li .field-content {
  color: #fff;
  font-size: .9em;
  line-height: 1.1em;
}
/* line 109, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .view-calendar-2 ul li .field-content a {
  margin: 0;
  display: inline-block;
}
/* line 115, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .view-calendar-2 ul li .views-field-field-wiche-initiatives em {
  padding: 0;
  margin: 0 0 8px;
  font-size: .9em;
  display: block;
}
/* line 122, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .view-calendar-2 ul li .views-field-field-location {
  padding: 8px 0 8px;
}
/* line 127, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .view-calendar-2 ul li:last-child {
  border-bottom: none;
}
/* line 135, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent .pane-taxonomy-resources h1 {
  color: #fff;
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: normal !important;
}
/* line 144, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin {
  background-color: #245eac;
  width: 100%;
  height: auto;
  /*min-height:260px;*/
  top: 2em !important;
  border-bottom: 2px solid #ccc;
}
/* line 155, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin .mm-columns #webform-client-form-11518 .form-item input {
  max-width: 45%;
}
/* line 158, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin .mm-columns #webform-client-form-11518 label, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin .mm-columns #webform-client-form-11518 .form-required {
  color: white !important;
}
/* line 161, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin .mm-columns #webform-client-form-11518 legend span {
  color: #ffffff;
}
/* line 165, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin .mm-columns #webform-client-form-11518 .fieldset-description {
  color: #ffffff;
  max-width: 45%;
}
/* line 170, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin .mm-columns #webform-client-form-11518 .mollom-image-captcha-instructions {
  color: white !important;
}
/* line 173, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin .mm-columns #webform-client-form-11518 .mollom-image-captcha-instructions a:link, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin .mm-columns #webform-client-form-11518 .mollom-image-captcha-instructions a:visited, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin .mm-columns #webform-client-form-11518 .mollom-image-captcha-instructions a:active {
  color: #fff;
  text-decoration: underline;
}
/* line 177, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin .mm-columns #webform-client-form-11518 .mollom-image-captcha-instructions a:link:hover, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin .mm-columns #webform-client-form-11518 .mollom-image-captcha-instructions a:visited:hover, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin .mm-columns #webform-client-form-11518 .mollom-image-captcha-instructions a:active:hover {
  font-weight: bold;
}
/* line 185, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin .mm-columns #webform-client-form-12735 .form-item {
  max-width: 100%;
}
/* line 188, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin .mm-columns #webform-client-form-12735 label, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin .mm-columns #webform-client-form-12735 .form-required {
  color: white !important;
}
/* line 191, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin .mm-columns #webform-client-form-12735 legend span {
  color: #ffffff;
}
/* line 195, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin .mm-columns #webform-client-form-12735 .fieldset-description {
  color: #ffffff;
  max-width: 45%;
}
/* line 200, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin .mm-columns #webform-client-form-12735 .mollom-image-captcha-instructions {
  color: white !important;
}
/* line 203, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin .mm-columns #webform-client-form-12735 .mollom-image-captcha-instructions a:link, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin .mm-columns #webform-client-form-12735 .mollom-image-captcha-instructions a:visited, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin .mm-columns #webform-client-form-12735 .mollom-image-captcha-instructions a:active {
  color: #fff;
  text-decoration: underline;
}
/* line 207, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin .mm-columns #webform-client-form-12735 .mollom-image-captcha-instructions a:link:hover, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin .mm-columns #webform-client-form-12735 .mollom-image-captcha-instructions a:visited:hover, #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin .mm-columns #webform-client-form-12735 .mollom-image-captcha-instructions a:active:hover {
  font-weight: bold;
}
/* line 221, ../sass/zen-mucho.scss */
#navigation .region-navigation ul#muchomenu-1 li.hovering {
  background-color: #245eac;
  border-top: none;
  /*border-right:1px solid #13315a;
  border-left:1px solid #13315a;*/
}
/* line 231, ../sass/zen-mucho.scss */
#navigation .region-navigation ul.muchomenu-bin-2 {
  left: 0 !important;
}
/* line 238, ../sass/zen-mucho.scss */
#navigation .region-navigation .mm-canvas {
  overflow: hidden;
}
/* line 240, ../sass/zen-mucho.scss */
#navigation .region-navigation .mm-canvas .mm-columns {
  width: 24% !important;
  border-right: 1px solid #ffffff;
  padding-right: 4px;
  padding-left: 4px;
  margin-bottom: -999em !important;
  padding-bottom: 999em !important;
}
/* line 248, ../sass/zen-mucho.scss */
#navigation .region-navigation .mm-canvas .mm-columns hr {
  border-top: 1px solid #ffffff;
  margin: 12px 0;
  padding: 0;
}
/* line 254, ../sass/zen-mucho.scss */
#navigation .region-navigation .mm-canvas .mm-columns p {
  color: #fff;
  font-size: .8em;
  line-height: 1.4em;
}
/* line 259, ../sass/zen-mucho.scss */
#navigation .region-navigation .mm-canvas .mm-columns p a {
  color: #fff;
}
/* line 264, ../sass/zen-mucho.scss */
#navigation .region-navigation .mm-canvas .mm-columns fieldset#webform-component-subscribe {
  border: none;
  color: #fff;
  font-size: 1em;
}
/* line 269, ../sass/zen-mucho.scss */
#navigation .region-navigation .mm-canvas .mm-columns fieldset#webform-component-subscribe legend span.fieldset-legend {
  margin-top: 8px;
  font-weight: bold;
  display: block;
}
/* line 276, ../sass/zen-mucho.scss */
#navigation .region-navigation .mm-canvas .mm-columns fieldset#webform-component-subscribe .form-type-checkbox input {
  width: 10%;
}
/* line 280, ../sass/zen-mucho.scss */
#navigation .region-navigation .mm-canvas .mm-columns fieldset#webform-component-subscribe input {
  width: 100%;
}
/* line 286, ../sass/zen-mucho.scss */
#navigation .region-navigation .mm-canvas .mm-columns ul, #navigation .region-navigation .mm-canvas .mm-columns ul.menu {
  margin-left: 0;
  padding: 0;
  list-style: none;
}
/* line 292, ../sass/zen-mucho.scss */
#navigation .region-navigation .mm-canvas .mm-columns ul li .field-content a:link, #navigation .region-navigation .mm-canvas .mm-columns ul li .field-content a:visited, #navigation .region-navigation .mm-canvas .mm-columns ul li .field-content a:active, #navigation .region-navigation .mm-canvas .mm-columns ul.menu li .field-content a:link, #navigation .region-navigation .mm-canvas .mm-columns ul.menu li .field-content a:visited, #navigation .region-navigation .mm-canvas .mm-columns ul.menu li .field-content a:active {
  color: #fff;
  font-size: .8em;
  text-decoration: none;
  display: block;
  margin: 12px 0;
}
/* line 299, ../sass/zen-mucho.scss */
#navigation .region-navigation .mm-canvas .mm-columns ul li .field-content a:hover, #navigation .region-navigation .mm-canvas .mm-columns ul.menu li .field-content a:hover {
  text-decoration: underline;
}
/* line 303, ../sass/zen-mucho.scss */
#navigation .region-navigation .mm-canvas .mm-columns ul li .field-content:focus, #navigation .region-navigation .mm-canvas .mm-columns ul.menu li .field-content:focus {
  border: 1px solid #ccc;
  padding: 2px;
}
/* line 312, ../sass/zen-mucho.scss */
#navigation .region-navigation .mm-canvas .mm-columns .more-link a:link, #navigation .region-navigation .mm-canvas .mm-columns .more-link a:visited, #navigation .region-navigation .mm-canvas .mm-columns .more-link a:active {
  text-decoration: none;
  color: #fff;
}
/* line 317, ../sass/zen-mucho.scss */
#navigation .region-navigation .mm-canvas .mm-columns .more-link a:hover {
  text-decoration: underline;
}
/* line 321, ../sass/zen-mucho.scss */
#navigation .region-navigation .mm-canvas .mm-columns .more-link:focus {
  border: 1px solid #ccc;
  padding: 2px;
}
/* line 328, ../sass/zen-mucho.scss */
#navigation .region-navigation .mm-canvas .mm-columns .mm-gen-info {
  list-style: none;
  color: #fff;
  font-size: .8em;
}
/* line 336, ../sass/zen-mucho.scss */
#navigation .region-navigation .mm-canvas .mm-columns:last-child {
  border-right: none;
  padding-right: 0;
}
/* line 343, ../sass/zen-mucho.scss */
#navigation .region-navigation .region-state {
  border-right: 1px solid #fff;
  overflow: hidden;
}

/*==============================
		END MUCHO MENU STYLING
=================================*/
/*custom rules for mini-panel in mucho-menu nav
=======================================================
*/
/* line 361, ../sass/zen-mucho.scss */
.mini-mega-menu, .pane-menu-menu-states-1, .pane-menu-menu-states-2, .panel-flexible {
  padding: 1% 2% 1%;
  margin-bottom: 1em;
  border: 0;
  overflow: hidden;
}
/* line 367, ../sass/zen-mucho.scss */
.mini-mega-menu #wiche-map p, .pane-menu-menu-states-1 #wiche-map p, .pane-menu-menu-states-2 #wiche-map p, .panel-flexible #wiche-map p {
  margin: 0;
  padding: 0;
}
/* line 371, ../sass/zen-mucho.scss */
.mini-mega-menu #wiche-map p img.wiche-map, .pane-menu-menu-states-1 #wiche-map p img.wiche-map, .pane-menu-menu-states-2 #wiche-map p img.wiche-map, .panel-flexible #wiche-map p img.wiche-map {
  margin-left: 25px;
}
/* line 376, ../sass/zen-mucho.scss */
.mini-mega-menu h2, .pane-menu-menu-states-1 h2, .pane-menu-menu-states-2 h2, .panel-flexible h2 {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  margin: 0 0 6px;
  padding: 0;
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: 700 !important;
  border-bottom: none;
}
/* line 386, ../sass/zen-mucho.scss */
.mini-mega-menu h2 a, .pane-menu-menu-states-1 h2 a, .pane-menu-menu-states-2 h2 a, .panel-flexible h2 a {
  color: #fff;
  text-decoration: none;
}
/* line 390, ../sass/zen-mucho.scss */
.mini-mega-menu h2 a:hover, .pane-menu-menu-states-1 h2 a:hover, .pane-menu-menu-states-2 h2 a:hover, .panel-flexible h2 a:hover {
  text-decoration: underline;
}
/* line 394, ../sass/zen-mucho.scss */
.mini-mega-menu h2 a:focus, .pane-menu-menu-states-1 h2 a:focus, .pane-menu-menu-states-2 h2 a:focus, .panel-flexible h2 a:focus {
  border: 1px solid #ccc;
  padding: 2px;
}
/* line 401, ../sass/zen-mucho.scss */
.mini-mega-menu h3, .pane-menu-menu-states-1 h3, .pane-menu-menu-states-2 h3, .panel-flexible h3 {
  color: #fff;
  font-size: 1em;
  margin: 0 0 6px;
  letter-spacing: 1px;
  /*font-weight:200;*/
}
/* line 408, ../sass/zen-mucho.scss */
.mini-mega-menu h3 a, .pane-menu-menu-states-1 h3 a, .pane-menu-menu-states-2 h3 a, .panel-flexible h3 a {
  color: white !important;
  text-decoration: none;
}
/* line 412, ../sass/zen-mucho.scss */
.mini-mega-menu h3 a:hover, .pane-menu-menu-states-1 h3 a:hover, .pane-menu-menu-states-2 h3 a:hover, .panel-flexible h3 a:hover {
  text-decoration: underline;
}
/* line 416, ../sass/zen-mucho.scss */
.mini-mega-menu h3 a:focus, .pane-menu-menu-states-1 h3 a:focus, .pane-menu-menu-states-2 h3 a:focus, .panel-flexible h3 a:focus {
  border: 1px solid #ccc;
  padding: 2px;
}
/* line 424, ../sass/zen-mucho.scss */
.mini-mega-menu .views-field-field-media-release-headline h3, .pane-menu-menu-states-1 .views-field-field-media-release-headline h3, .pane-menu-menu-states-2 .views-field-field-media-release-headline h3, .panel-flexible .views-field-field-media-release-headline h3 {
  font-family: 'humnst777_cn_btregular';
  color: #fff;
  font-size: .9em;
  margin: 0 0 6px;
  letter-spacing: 1px;
  font-weight: 100;
  line-height: 1.3em;
}
/* line 435, ../sass/zen-mucho.scss */
.mini-mega-menu p, .pane-menu-menu-states-1 p, .pane-menu-menu-states-2 p, .panel-flexible p {
  color: #13315a;
  line-height: 1em;
  font-size: .9em;
}
/* line 446, ../sass/zen-mucho.scss */
.mini-mega-menu ul.menu, .pane-menu-menu-states-1 ul.menu, .pane-menu-menu-states-2 ul.menu, .panel-flexible ul.menu {
  list-style: none;
}
/* line 451, ../sass/zen-mucho.scss */
.mini-mega-menu ul.menu li, .pane-menu-menu-states-1 ul.menu li, .pane-menu-menu-states-2 ul.menu li, .panel-flexible ul.menu li {
  margin: 6px 0;
  clear: left;
  padding: 0 16px 0;
  margin: 16px 0 0;
}
/* line 456, ../sass/zen-mucho.scss */
.mini-mega-menu ul.menu li a, .pane-menu-menu-states-1 ul.menu li a, .pane-menu-menu-states-2 ul.menu li a, .panel-flexible ul.menu li a {
  color: #e1e1e1;
  text-decoration: underline;
  display: block;
  line-height: 1.1em;
  font-size: .9em;
  margin: 0;
}
/* line 464, ../sass/zen-mucho.scss */
.mini-mega-menu ul.menu li a:hover, .pane-menu-menu-states-1 ul.menu li a:hover, .pane-menu-menu-states-2 ul.menu li a:hover, .panel-flexible ul.menu li a:hover {
  color: #fff;
  text-decoration: underline;
}
/* line 469, ../sass/zen-mucho.scss */
.mini-mega-menu ul.menu li a:focus, .pane-menu-menu-states-1 ul.menu li a:focus, .pane-menu-menu-states-2 ul.menu li a:focus, .panel-flexible ul.menu li a:focus {
  border: 1px solid #ccc;
  padding: 2px;
}
/* line 478, ../sass/zen-mucho.scss */
.mini-mega-menu ul.menu li.menu--leaf, .pane-menu-menu-states-1 ul.menu li.menu--leaf, .pane-menu-menu-states-2 ul.menu li.menu--leaf, .panel-flexible ul.menu li.menu--leaf {
  margin: 0 0 6px 0;
  clear: left;
}
/* line 481, ../sass/zen-mucho.scss */
.mini-mega-menu ul.menu li.menu--leaf a, .pane-menu-menu-states-1 ul.menu li.menu--leaf a, .pane-menu-menu-states-2 ul.menu li.menu--leaf a, .panel-flexible ul.menu li.menu--leaf a {
  color: #13315a;
  text-decoration: none;
  display: block;
  padding: 0 0 4px 0;
  line-height: .9em;
  font-size: .9em;
  margin: 0 0 4px 0;
  text-transform: uppercase;
}
/* line 491, ../sass/zen-mucho.scss */
.mini-mega-menu ul.menu li.menu--leaf a:hover, .pane-menu-menu-states-1 ul.menu li.menu--leaf a:hover, .pane-menu-menu-states-2 ul.menu li.menu--leaf a:hover, .panel-flexible ul.menu li.menu--leaf a:hover {
  color: #1C4884;
}
/* line 495, ../sass/zen-mucho.scss */
.mini-mega-menu ul.menu li.menu--leaf a:focus, .pane-menu-menu-states-1 ul.menu li.menu--leaf a:focus, .pane-menu-menu-states-2 ul.menu li.menu--leaf a:focus, .panel-flexible ul.menu li.menu--leaf a:focus {
  border: 1px solid #ccc;
  padding: 2px;
}

/*kill vertical border on last menu column*/
/* line 506, ../sass/zen-mucho.scss */
.col-four ul.menu {
  border: none;
}

/*separate news room mega menu items with thin bottom border*/
/* line 518, ../sass/zen-mucho.scss */
.view-wiche-in-the-news-mega-menu .item-list ul li .field-content a, .media-releases .item-list ul li .field-content a, .higher-education-news .item-list ul li .field-content a, .wiche-newscap .item-list ul li .field-content a {
  padding-bottom: 12px;
  border-bottom: thin solid #fff;
}
/* line 527, ../sass/zen-mucho.scss */
.view-wiche-in-the-news-mega-menu .item-list ul li:last-child .field-content a, .media-releases .item-list ul li:last-child .field-content a, .higher-education-news .item-list ul li:last-child .field-content a, .wiche-newscap .item-list ul li:last-child .field-content a {
  border-bottom: none !important;
}

/*CSS styling for calendar block in mega-menu*/
/* line 542, ../sass/zen-mucho.scss */
.pane-events ul li h1 {
  font-family: 'humnst777_cn_btbold',sans-serif;
  font-size: 1.1em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
/* line 549, ../sass/zen-mucho.scss */
.pane-events ul li h1 a {
  margin: 0;
  padding: 0;
}

/* line 559, ../sass/zen-mucho.scss */
.wiche-bylaws {
  border-top: 1px solid #fff;
  padding-top: 8px;
}

/* line 564, ../sass/zen-mucho.scss */
.workplan-annual-report {
  border-top: 1px solid #fff;
  padding-top: 8px;
}

/* line 569, ../sass/zen-mucho.scss */
.hr-openings {
  padding-top: 8px;
}

/*end custom rules for mini-panel mega-menu nav
========================================================
*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 578, ../sass/zen-mucho.scss */
  #navigation .region-navigation ul#muchomenu-1 li.muchomenu-parent div.muchomenu-bin {
    top: 1.8em !important;
  }

  /* line 583, ../sass/zen-mucho.scss */
  ul#muchomenu-1 li.muchomenu-parent span.muchomenu-parent-title {
    padding: 4px 8px 8px !important;
  }
}
/* line 592, ../sass/zen-mucho.scss */
.map-wrapper {
  background: url(images/wiche-region-map.png) 0 0 no-repeat;
  width: 407px;
  height: 207px;
  position: relative;
}
/* line 598, ../sass/zen-mucho.scss */
.map-wrapper a:link, .map-wrapper a:active, .map-wrapper a:visited {
  font-size: .6em;
  font-weight: bold;
  text-decoration: none;
}
/* line 603, ../sass/zen-mucho.scss */
.map-wrapper a:link:hover, .map-wrapper a:active:hover, .map-wrapper a:visited:hover {
  text-decoration: underline;
}
/* line 607, ../sass/zen-mucho.scss */
.map-wrapper a:link:focus, .map-wrapper a:active:focus, .map-wrapper a:visited:focus {
  border: 1px solid #ccc;
  padding: 2px;
}
/* line 613, ../sass/zen-mucho.scss */
.map-wrapper a.s1 {
  left: 7.3%;
  top: 25.5%;
  width: 4%;
  height: 6%;
  position: absolute;
  color: #fff;
}
/* line 622, ../sass/zen-mucho.scss */
.map-wrapper a.s2 {
  line-height: 1em;
  left: 9%;
  top: 48%;
  width: 8%;
  height: 4%;
  position: absolute;
  color: #fff;
}
/* line 632, ../sass/zen-mucho.scss */
.map-wrapper a.s3 {
  left: 17%;
  top: 70%;
  width: 4%;
  height: 6%;
  position: absolute;
  color: #fff;
}
/* line 641, ../sass/zen-mucho.scss */
.map-wrapper a.s4 {
  left: 31%;
  top: 6%;
  width: 4.5%;
  height: 6%;
  position: absolute;
  color: #1c4884;
}
/* line 650, ../sass/zen-mucho.scss */
.map-wrapper a.s5 {
  left: 29.5%;
  top: 19%;
  width: 4%;
  height: 6%;
  position: absolute;
  color: #1c4884;
}
/* line 659, ../sass/zen-mucho.scss */
.map-wrapper a.s6 {
  left: 28.5%;
  top: 46.5%;
  width: 4%;
  height: 6%;
  position: absolute;
  color: #1c4884;
}
/* line 668, ../sass/zen-mucho.scss */
.map-wrapper a.s7 {
  left: 37.7%;
  top: 22.7%;
  width: 4%;
  height: 6%;
  position: absolute;
  color: #1c4884;
}
/* line 677, ../sass/zen-mucho.scss */
.map-wrapper a.s8 {
  left: 33.2%;
  top: 38%;
  width: 4%;
  height: 6%;
  position: absolute;
  color: #1c4884;
}
/* line 686, ../sass/zen-mucho.scss */
.map-wrapper a.s9 {
  left: 43.2%;
  top: 12.6%;
  width: 4%;
  height: 6%;
  position: absolute;
  color: #1c4884;
}
/* line 695, ../sass/zen-mucho.scss */
.map-wrapper a.s10 {
  left: 46.2%;
  top: 28%;
  width: 4%;
  height: 6%;
  position: absolute;
  color: #1c4884;
}
/* line 704, ../sass/zen-mucho.scss */
.map-wrapper a.s11 {
  left: 40%;
  top: 42.6%;
  width: 4%;
  height: 6%;
  position: absolute;
  color: #1c4884;
}
/* line 713, ../sass/zen-mucho.scss */
.map-wrapper a.s12 {
  left: 38.5%;
  top: 60%;
  width: 4%;
  height: 6%;
  position: absolute;
  color: #1c4884;
}
/* line 722, ../sass/zen-mucho.scss */
.map-wrapper a.s13 {
  left: 56.5%;
  top: 11%;
  width: 4%;
  height: 6%;
  position: absolute;
  color: #1c4884;
}
/* line 731, ../sass/zen-mucho.scss */
.map-wrapper a.s14 {
  left: 56.5%;
  top: 23%;
  width: 4%;
  height: 6%;
  position: absolute;
  color: #1c4884;
}
/* line 740, ../sass/zen-mucho.scss */
.map-wrapper a.s15 {
  left: 47.9%;
  top: 44.5%;
  width: 4%;
  height: 6%;
  position: absolute;
  color: #1c4884;
}
/* line 749, ../sass/zen-mucho.scss */
.map-wrapper a.s16 {
  left: 46.3%;
  top: 61%;
  width: 4%;
  height: 6%;
  position: absolute;
  color: #1c4884;
}
